<script type="text/javascript">
	function reload_coingame(){
		$("#coingame").load(location.href + " #coingame");	
	}
	setInterval(function(){reload_coingame()}, 5000);
</script>

<div id="coingame" class="centerBox">
	<h2>COIN TOSS GAME</h2>
	<%= form_for(@game, remote: true, html: {:id => "game_form"}) do |f| %>
		<%= f.button "#{image_tag("Money-Coin-24.png")} &nbsp; HEADS".html_safe, :onclick => 'reload_function()' , value: "Heads", class: 'btn btn-primary', disabled: !@my_turn %>
		or
		<%= f.button "#{image_tag("Money-Coin-01-24.png")} &nbsp; TAILS".html_safe, :onclick => 'reload_function()' , value: "Tails", class: 'btn btn-primary', disabled: !@my_turn %>	
	<% end %>

	<span id = 'win_message'>
		<%= @win_message %>
	</span>
	<br>

	Choice:
	<span id = 'last_challengers_guess'>
		<%= @last_challengers_guess %>
	</span>
	<br>

	Flip Result:
	<span id = 'last_flip_result'>
		<%= @last_flip_result %>
	</span>
	<br>

	My Score:
	<span id='my_score'>
		<%= @my_score %>
	</span>
	<br>

	Opponents Score:
	<span id='opponents_score'>
		<%= @opponents_score %>
	</span>
	<br>

	Number of Turns:
	<span id='numTurns'>
		<%= @num_turns %>
	</span>
</div>

