<script type="text/javascript">
	function reload(){
		$("#challenger_list_realtime").load(location.href + " #challenger_list_realtime");	
	}
	setInterval(function(){reload()}, 5000);
</script>

<div id="challenger_list_realtime">
	<% if @challengers %>
		
		<% if (@challengers.count == 1) %>
			No other challengers online!
		<% end %>
		
		<% @other_challengers.each do |challenger| %>

			<!-- run down the list of players -->
			<tr>
				<div class= "btn_challenge">
					<%= form_tag("/challenge_player", method: "post") do %>
						<input type="hidden" name="challenge_issuer", type="text" value="<%=@myself.name%>"/>
						<input type="hidden" name="challenge_receiver", type="text" value="<%=challenger.name%>"/>
						<! -- report opponent status and allow challenging or acceptance of challenges >
						<% if challenger.name == @myself.opponent %>								
							<div class = "report"><%= "Accept challenge from #{challenger.name}?" %></br></div>
							<div class = "chall_button"><%= submit_tag "Yes" %><%= submit_tag "No" %></div>
						<% elsif challenger.opponent == nil %>
							<div class = "chall_button">
							<%= submit_tag " Challenge #{challenger.name}?" %>
							</div>
						<% else %>
							<div class = "report">
							<%= "#{challenger.name} has been challenged by #{challenger.opponent}!" %>
							</div>
						<% end %> 
						
					<% end %>
				</div>
				
				</br></br>
			</tr>

		<% end %>

	<% end #if challengers %>
</div>