<!DOCTYPE html>
<html>
	<head>
		<title>GameHub</title>
		<%= include_gon(:init => true) %> 
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<header role="banner" class="global-header">
			<div><%= link_to "GAMEHUB",{ controller: "/welcome", action: "index"} %></div>
			<div class="userDropdown dropdown">
				<div class="dropdown-toggle" data-toggle="dropdown"><%= cookies[:challenger_name] %><span class="caret"></span></div>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<% if cookies[:challenger_name].include?("Guest") %>
						<li role="menuitem"><%= link_to "Sign in",{ controller: "/challengers", action: "new"} %></li>
					<% else %>
						<li role="menuitem"><%= link_to "Sign out",{ controller: "/challengers", action: "sign_out"} %></li>
					<% end %>
		            <% unless cookies[:challenger_id].blank? %>
		                <li role"menuitem"><%= link_to "Manage Account", edit_challenger_path(cookies[:challenger_id]) %></li>
		            <% end %>
		        </ul>
		        <div onclick="slideChallengers(true)">
		           	<%= image_tag("users.png") %>
		        </div>
			</div>
		</header>

		<main id="content">
			<%= yield %>
	
			<div id="gameList" style="display:none">
				<h3> All GameHub Games: </h3>
			</div>
			
		</main>

		<div class="cd-panel from-right" id="challengerContainer">
			<header class="cd-panel-header">
				<h3>CHALLENGERS</h3>
				<a href="#0" class="cd-panel-close" onclick="slideChallengers(false)">X</a>
			</header>
			<div class="cd-panel-container">
				<div class="cd-panel-content">
					<div id="challengerList">
						<%= render partial: "/challengers/index", object: @challenger %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
