<!DOCTYPE html>
<html>
	<head>
		<title>GameHub</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<script type="text/javascript" src="reloader.js"></script>
	</head>

	<body onload="reloadData()">
		<header role="banner" class="global-header">
		<div>GameHub</div>
		</header>
		<div id="content">
			<%= yield() %>
		
			<div id="usernameDisplay"></div>
			<div id="gameDisplay"></div>
			<div id="challengerList">
				<h3> All GameHub Users: </h3>
				<%= render partial: "/challengers/index", object: @challenger %>
					<div id="currentData" align="center">
					<%= render partial: "/streams/new" %>
					</div>
			</div>
		</div>
	</body>
</html>
