<!DOCTYPE html>
<html>
<head>
  <title>GameHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

<body>
	<header role="banner" class="global-header">
		<%= image_tag("icon.jpg", :alt => "GameHub Icon", :height => "75px", :id => "icon") %>
		<div>GameHub</div>
	</header>
	<div id="content">
		<div id="loginUsername"></div>
		<%= yield() %>
		<div id="gameDiv">
			<%= render "/game/coingame" %>
		</div>
	</div>
</body>
</html>