<!DOCTYPE html>
<html>
	<head>
		<title>GameHub</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<header role="banner" class="global-header">
		<div>GameHub</div>
		</header>

		<div id="content">
			<%= yield %>
		
			<div id="usernameDisplay">
				Name:
				<%= cookies[:challenger_name] %>
				<%= link_to "Sign in",
					{ controller: "challengers", action: "new"} %>
                                <% unless cookies[:challenger_id].blank? %>
                                    <%= link_to "Manage Account", edit_challenger_path(cookies[:challenger_id]) %>
                                <% end %>
			</div>
			
			<div id="challengerList">
				<h3> All GameHub Users: </h3>
				<%= render partial: "/challengers/index", object: @challenger %>
			</div>
			<div id="gmaeList">
				<h3> All GameHub Games: </h3>
			</div>
			
		</div>
	</body>
</html>
