<!DOCTYPE html>
<html>
	<head>
		<title>GameHub</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	

		<%= csrf_meta_tags %>

		
	</head>

	<body onload="reloadData()">
		<header role="banner" class="global-header">
		<div>GameHub</div>
		</header>

		<% if false %>
		<!-- temporary taken out of main code -->
			<%= image_tag("digitalbackground.jpg", id:"background") %>
		<% end %>


		<div id="content">
			<%= yield() %>
		
			<div id="usernameDisplay"></div>

			<!-- <button type="button">Play Game</button> -->
			<!-- <input id="playbtn" type="button" value="Play Game" onclick="printTest();" /> -->
			
			<div id="gameDisplay"></div>
			<div id="challengerList">
				<h3> All GameHub Users: </h3>
				<%= render partial: "/challengers/index", object: @challenger %>
					<div id="currentData" align="center">
					<%= render partial: "/streams/new" %>
					</div>
			</div>
		</div>
	</body>
</html>
